### Gradle ###
.gradle/
build/
out/

### IDEs ###
.idea/
*.iml
.vscode/

### Eclipse ###
.project
.classpath
.settings/
bin/

### Java ###
*.class
hs_err_pid*
replay_pid*

### OS ###
.DS_Store
Thumbs.db

### Environment ###
.env
.env.*